pipeline/KrakenQAPipeline.json
{
	"name": "KrakenQAPipeline",
	"properties": {
		"activities": [
			{
				"name": "KrakenQACopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MongoDbV2Source",
						"batchSize": 100,
						"filter": {
							"value": "{'Doc.lastModified': {$gt: '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}'}}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Doc']['schemaDef']['name']"
								},
								"sink": {
									"name": "Name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Doc']['schemaDef']['isPublished']"
								},
								"sink": {
									"name": "IsPublished",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['Doc']['isDeleted']"
								},
								"sink": {
									"name": "IsDeleted",
									"type": "Boolean"
								}
							},
							{
								"source": {
									"path": "$['Doc']['lastModified']"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"path": "$['Doc']['lastModifiedBy']"
								},
								"sink": {
									"name": "LastModifiedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Doc']['created']"
								},
								"sink": {
									"name": "Created",
									"type": "DateTimeOffset"
								}
							},
							{
								"source": {
									"path": "$['Doc']['createdBy']"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_id']"
								},
								"sink": {
									"name": "Id"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "MongoDbV2Collection1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "KrakenQASql",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupOldWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from WatermarkTable"
					},
					"dataset": {
						"referenceName": "WatermarkDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select ISNULL(MAX(LastModified), GETDATE()) as NewWatermark from ContentTypes"
					},
					"dataset": {
						"referenceName": "KrakenQASql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "StoredProcWriteWatermarkActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "KrakenQACopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"LastModified": {
							"value": {
								"value": "@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermark}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('LookupOldWaterMarkActivity').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}